.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  div {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    button {
      margin-left: 1rem;
    }
  }
}
