.profil-container {
  background-color: $black;
  width: 100%;

  padding-bottom: 7.5vh;
  @media screen and (min-width: 1200px) {
    height: 91.5vh;
    padding-bottom: 0;
    display: flex;
  }
  .profil-img {
    width: 100%;
    @media screen and (min-width: 1200px) {
      height: 100%;
      width: 40%;
    }
    img {
      width: 100%;
      height: 100%;
      display: flex;
      @media screen and (min-width: 1200px) {
        height: 100%;
        border-radius: 10px;
        margin: 1px;
        object-fit: cover;
        border-right: 1px solid $color-2;
      }
    }
  }
  .profil-info {
    @media screen and (min-width: 1200px) {
      height: 90%;
      width: 20%;
      margin: auto;
      margin-bottom: 0;
    }
    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 40px;
      input {
        display: none;
      }
      label,
      button {
        all: unset;
        width: 60px;
        margin-left: 1rem;
        background-color: #052e52;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    p {
      text-align: center;
    }
    button {
      background: linear-gradient(180deg, $color-2 0%, rgba(1, 28, 51, 0) 100%);
      border-radius: 8px;
      display: block;
      margin: auto;
      margin-top: 3vh;
      height: 6vh;
      width: 87%;
      padding: 10px;
      color: $white;
      border: 2px solid #052e52;
      @media screen and (min-width: 1200px) {
      }
    }
  }

  .avatar-img {
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    left: calc(50% - 60px);
    border: 1px solid rgba(87, 209, 76, 0.797);
    @media screen and (min-width: 1200px) {
      height: 130px;
      width: 130px;
    }
  }
  .modify-info {
    input {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.5px solid rgba($white, 0.3);
      border-radius: 5px;
      padding: 10px;
      height: 50px;
      width: 88%;
      background-color: rgba($black, 0.8);
      margin: auto;
      margin-top: 10px;
      text-align: center;
      font-size: 1.2rem;
      color: white;
    }
    label {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.containerbtn-profil {
  background: linear-gradient(175deg, $color-2 0%, rgba(1, 28, 51, 0) 100%);
  border-radius: 8px;
}
.containerul {
  margin: 5vh;
}
